*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.DS_STORE
build/
.cache
.vagrant
.sass-cache

# YARD artifacts
.yardoc
_yardoc
doc/
.idea/

.vscode/

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env